@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Mono:wght@400;700&display=swap');

body {
 margin: 0px;
 padding-bottom: 600px;
 font-family: 'Ubuntu Mono', monospace;
}

h1, ul, p {
  margin: 0px;
}

ul {
  padding: 0px;
  list-style: none;
}

a {
text-decoration: none;
color: inherit;
}

img {
  max-width: 100%;
  display: block;
}

