.tecnologia{
  background-color: var(--cor-11);
  box-shadow: inset 0 80px var(--cor-0), inset 0 -80px var(--cor-0);
}

.tecnologiaContainer{
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
  max-width: 1200px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
}

.tecnologiaImagem img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: left;
}
.tecnologiaConteudo {
  padding-top: 160px;
  padding-bottom: 160px;
}

.tecnologiaConteudo > span {
  display: block;
  margin-bottom: 20px;
}
.tecnologiaConteudo h2 {
  margin-bottom: 32px;
}
.tecnologiaConteudo > p{
  margin-bottom: 20px;
}
.link{
  margin-bottom: 80px;
  display: inline-block;
  text-transform: uppercase;
  color: var(--cor-p1);
  font: 600 1.5rem 'Ubuntu Mono', monospace;
  font-size: 32px;
  text-decoration: underline;
}

.tecnologiaVantagens {
  display: flex;
  gap: 40px;
}

.tecnologiaVantagens h3 {
  margin-bottom: 8px;
  width: max-content;
}
.tecnologiaVantagens img {
  width: 24px;
  margin-bottom: 8px;
}

@media (max-width: 800px){
  .tecnologia{
    box-shadow: initial;
  }
  .tecnologiaContainer{
    grid-template-columns: 1fr;
  }
  .tecnologiaConteudo{
    padding-top: 60px;
    padding-bottom: 60px;
  }
  .tecnologiaImagem{
    display: none;
  }
  .link{
    margin-bottom: 60px;
  }
}
@media (max-width: 600px) {
  .tecnologiaVantagens{
    flex-direction: column;
  }
}


